<div class="form-group" class="align-center" >
    <span>Location</span>
   <ui-select ng-model="selected.value">
    <ui-select-match>
        <span class="align-center" ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
        <span ng-bind="item.name"></span>
    </ui-select-choices>
</ui-select>
</div>

<span>Date Report</span>
<p class="input-group">

  <input type="text" class="form-control" placeholder="Date Deport"
          value="{{startdt|date:'fullDate'}}" disabled/>
      <datepicker uib-datepicker-popup="{{format}}" ng-model="startdt" 
          is-open="popup1.opened" ng-required="true"
          datepicker-options="dateOptions" close-text="Close">
      </datepicker>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default bth-height" 
            ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</p>

<span>Date Return</span>
<p class="input-group">
  <input type="text" class="form-control" placeholder="Date Return"
         value="{{returndt|date:'fullDate'}}" disabled/>
      <datepicker uib-datepicker-popup="{{format}}" ng-model="returndt" 
          is-open="popup2.opened" ng-required="true" 
          datepicker-options="dateOptions" close-text="Close">
      </datepicker>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default bth-height" 
            ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</p>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ng-click="nextSection()" class="btn btn-block btn-info">
    Next Section 
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>