<div class="form-group">
    <input type="text" class="form-control" name="firstName" ng-model="formData.firstName" placeholder="First Name">
</div>

<div class="form-group">
    <input type="text" class="form-control" name="lastName" ng-model="formData.lastName" placeholder="lastName">
</div>

<div class="form-group">
    <input type="text" class="form-control" name="email" ng-model="formData.email" placeholder="Email">
</div>

<div class="form-group">
    <input type="tel" class="form-control" name="usrtel" ng-model="formData.usrtel" placeholder="Phone">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="app.location" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>