/* BASIC STYLINGS
============================================================================= */
  * {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  body {
    padding-top: 20px;
    color: #ffffff;
    background-color: #222222;
    background-image: url("http://www.hutui6.com/data/out/200/68563005-travel-wallpapers.jpg");
    background-repeat:no-repeat ;
  }

  pre {
    margin-bottom: 20px;
  }

  /* form styling */
  #form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .social{
    color:wheat;
  }
  .middle-line{
    padding: 5px;
  }

  #form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #151515;
    background-image: url("https://www.phyramid.com/images/blog/making-phyramid-coms-procedurally-rendered-3d-header/header-background-indexed.png");
  }

  /*welcome page*/
  .welcome {
    text-align: center;
  }

  .container-header {
    display: flex; /* or inline-flex */
    flex-wrap:  wrap;
    align-content: center;
    justify-content: center;

  }
  .container-item{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 10px;
    border-radius: 17px;
    pointer-events: none;
    font-size: 150%;
    background-color: #2F2F2F;
  }
  .container-items{
    background-color: #4CAF50;
  }

  .header-tab {
    width:20px;
    height: 20px;
    background-color: #00BC8C;
  }

  /* numbered buttons */
  .none {
    pointer-events: none;
  }

  /* active buttons */
  #status-buttons a.active span {
    background: #00BC8C;
  }

  /*text display in center*/
  input {
    text-align: center;
  }

  /* ANIMATION STYLINGS
  ============================================================================= */
  #signup-form {
    position: relative;
    min-height: 300px;
    padding: 20px;
  }

  /* basic styling for entering and leaving */
  /* left and right added to ensure full width */
  .form-views.ng-enter,
  .form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    overflow: hidden;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
  }

  /* enter animation */
  .form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
  }

  /* leave animation */
  .form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
  }

  /* ANIMATIONS
  ============================================================================= */
  /* slide out to the left */
  @keyframes slideOutLeft {
    to {
      transform: translateX(-200%);
    }
  }

  @-moz-keyframes slideOutLeft {
    to {
      -moz-transform: translateX(-200%);
    }
  }

  @-webkit-keyframes slideOutLeft {
    to {
      -webkit-transform: translateX(-200%);
    }
  }

  /* slide in from the right */
  @keyframes slideInRight {
    from {
      transform: translateX(200%);
    }
    to {
      transform: translateX(0);
    }
  }

  @-moz-keyframes slideInRight {
    from {
      -moz-transform: translateX(200%);
    }
    to {
      -moz-transform: translateX(0);
    }
  }

  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translateX(200%);
    }
    to {
      -webkit-transform: translateX(0);
    }
  }

